/*全局样式*/
body{
	background-image: url(images/index.jpg);
}


#message01{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.2;
	background-color:#B8CFFB;
	border-radius:15px;
	opacity:0.6;
	float: left;
	top: 40px;
	color: #FFF8E6;
	width: 250px;
}
#message02{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	border-radius:15px;
	float: left;
	top: 40px;
	padding-right: 550px;
	padding-left: 350px;
	color: #696;
}
